.landing-question{
    &_start{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &_end{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    } 
}

@media screen and (max-width: 576px){
.landing-question{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}